<div class="header">
  <div class="header-left">
    <button class="menu-btn" (click)="abrirMenu()">☰</button>
    <div class="page-info">
      <h1 class="desktop-title">Bem-vindo de volta 👋</h1>

      <h1 class="mobile-title">Bem-vindo 👋</h1>

      <p>Aqui está um resumo financeiro atualizado da sua empresa.</p>
    </div>
  </div>

  <div class="header-right">
    <button class="notification-btn">🔔</button>

    <div class="user-card">
      <div class="user-text">
        <strong>Usuário</strong>
        <span>Perfil</span>
      </div>

      <div class="avatar">U</div>
    </div>
  </div>
</div>
