<div class="header">
  <div class="header-left">
    <button class="menu-btn" (click)="abrirMenu()">☰</button>
    <div class="page-info">
      <h1 class="desktop-title">Bem-vindo de volta!</h1>

      <h1 class="mobile-title">Bem-vindo!</h1>

      <p>Aqui todos os dados financeiros atualizados da sua empresa.</p>
    </div>
  </div>

  <div class="header-right">
    <div class="user-card" (click)="goToProfile()">
      <div class="user-text">
        <strong>{{ userName }}</strong>
      </div>

      <div class="avatar">
        {{ initials }}
      </div>
    </div>
  </div>
</div>
