.chart-container {

  margin-top: 28px;

  background: white;

  border-radius: 28px;

  padding: 28px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.05);
}

.chart-header {

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.chart-header h2 {

  font-size: 24px;

  color: #111827;

  font-weight: 700;
}

.chart-header p {

  margin-top: 6px;

  color: #6b7280;

  font-size: 14px;
}