<div class="confirm-overlay">
  <div class="confirm-container">
    <div class="warning-icon">⚠️</div>

    <h2>Confirmar exclusão</h2>

    <p>
      Tem certeza que deseja deletar
      <strong>{{ transactionName }}</strong>
      ? Esta ação não poderá ser desfeita.
    </p>

    <div class="confirm-actions">
      <button type="button" class="cancel-button" (click)="closeModal()">Cancelar</button>

      <button type="button" class="delete-button" (click)="confirmDelete()">Deletar</button>
    </div>
  </div>
</div>
