<div class="sidebar">
  <div class="sidebar-logo">
    <div class="logo-icon">C</div>

    <div class="logo-text">
      <h2>Cashlyo</h2>
      <span>Financial System</span>
    </div>
  </div>

  <nav class="sidebar-menu">
    <a
      routerLink="/dashboard"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      🏠 Home
    </a>

    <a routerLink="/dashboard/transactions" routerLinkActive="active-link"> 💸 Transações </a>

    <a routerLink="/dashboard/flow" routerLinkActive="active-link"> 📈 Fluxo </a>

    <a routerLink="/dashboard/profile" routerLinkActive="active-link"> 👤 Perfil </a>
  </nav>
</div>
