<div class="sidebar" [class.sidebar-open]="isOpen">
  <div class="sidebar-logo">
    <div class="logo-icon">C</div>

    <div class="logo-text">
      <h2>Cashlyo</h2>
      <span>Financial System</span>
    </div>
  </div>

  <nav class="sidebar-menu">
    <a
      routerLink="/dashboard"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <span>🏠</span>
      <span class="menu-text">Home</span>
    </a>

    <a routerLink="/dashboard/transactions" routerLinkActive="active-link">
      <span>💸</span>
      <span class="menu-text">Transações</span>
    </a>

    <a routerLink="/dashboard/flow" routerLinkActive="active-link">
      <span>📈</span>
      <span class="menu-text">Fluxo</span>
    </a>

    <a routerLink="/dashboard/profile" routerLinkActive="active-link">
      <span>👤</span>
      <span class="menu-text">Perfil</span>
    </a>
  </nav>
</div>
