<div class="sidebar">

  <!-- LOGO -->

  <div class="sidebar-logo">

    <div class="logo-icon">
      C
    </div>

    <div class="logo-text">
      <h2>Cashlyo</h2>
      <span>Financial System</span>
    </div>

  </div>


  <!-- MENU -->

  <nav class="sidebar-menu">

    <a routerLink="/dashboard" routerLinkActive="active-link">
      <span>🏠</span>
      Dashboard
    </a>

    <a routerLink="/transactions" routerLinkActive="active-link">
      <span>💸</span>
      Transações
    </a>

    <a routerLink="/flow" routerLinkActive="active-link">
      <span>📈</span>
      Fluxo
    </a>

    <a routerLink="/profile" routerLinkActive="active-link">
      <span>👤</span>
      Perfil
    </a>

  </nav>


  <!-- BOTTOM CARD -->

  <div class="sidebar-card">

    <h3>Cashlyo Pro</h3>

    <p>
      Tenha acesso completo aos relatórios financeiros e insights avançados.
    </p>

    <button>
      Upgrade
    </button>

  </div>

</div>