<div class="modal-overlay">
  <div class="modal-container">
    <!-- HEADER -->

    <div class="modal-header">
      <div>
        <h2>Nova Transação</h2>

        <p>Adicione uma nova movimentação financeira</p>
      </div>

      <button class="close-button" (click)="closeModal()">✕</button>
    </div>

    <form class="modal-form">
      <div class="form-group">
        <label> Tipo </label>

        <select [(ngModel)]="newTransaction.tipo" name="tipo">
          <option value="entrada">Entrada</option>

          <option value="saida">Saída</option>
        </select>
      </div>

      <div class="form-group">
        <label> Categoria </label>

        <select [(ngModel)]="newTransaction.categoria" name="categoria">
          <option value="">Selecione uma categoria</option>

          <option *ngFor="let category of filteredCategories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label> Valor </label>

        <input
          type="number"
          placeholder="R$ 0,00"
          [(ngModel)]="newTransaction.valor"
          name="valor"
        />
      </div>

      <div class="form-group">
        <label> Descrição </label>

        <input
          type="text"
          placeholder="Digite a descrição..."
          [(ngModel)]="newTransaction.descricao"
          name="descricao"
        />
      </div>

      <div class="form-group">
        <label> Data </label>

        <input type="date" [(ngModel)]="newTransaction.data" name="data" />
      </div>

      <button type="submit" class="save-button" (click)="saveTransaction()">
        Salvar Transação
      </button>
    </form>
  </div>
</div>
