<div class="transactions-page">
  <div class="transactions-top">
    <div>
      <h1>Transações</h1>

      <p>Gerencie suas entradas e saídas financeiras</p>
    </div>

    <button type="button" (click)="openModal()">+ Nova Transação</button>
  </div>

  <div class="transactions-actions">

    <div class="search-box">
      <span>🔍</span>

      <input type="text" placeholder="Pesquisar transações..." [(ngModel)]="searchTerm" />
    </div>

    <div class="filters">
      <select [(ngModel)]="selectedFilter">
        <option value="Todos">Todos</option>

        <option value="entrada">Entradas</option>

        <option value="saida">Saídas</option>
      </select>

      <button type="button">⬇ Exportar</button>
    </div>
  </div>

  <div class="transactions-table">
    <table>
      <thead>
        <tr>
          <th>Tipo</th>

          <th>Descrição</th>

          <th>Categoria</th>

          <th>Valor</th>

          <th>Data</th>

          <th>Status</th>

          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let transaction of filteredTransactions">

          <td>
            <div class="type-badge" [ngClass]="transaction.tipo">
              <span *ngIf="transaction.tipo === 'entrada'"> 📈 </span>

              <span *ngIf="transaction.tipo === 'saida'"> 📉 </span>

              {{ transaction.tipo }}
            </div>
          </td>

          <td>
            {{ transaction.descricao }}
          </td>

          <td>
            {{ transaction.categoria }}
          </td>

          <td
            class="transaction-value"
            [ngClass]="{
              income: transaction.tipo === 'entrada',
              expense: transaction.tipo === 'saida',
            }"
          >
            {{ transaction.tipo === 'entrada' ? '+' : '-' }}

            {{ transaction.valor | currency: 'BRL' : 'symbol' : '1.2-2' }}
          </td>

          <td>
            {{ transaction.data }}
          </td>

          <td>
            <span class="status-badge" [ngClass]="transaction.status.toLowerCase()">
              {{ transaction.status }}
            </span>
          </td>

          <td>
            <div class="actions">
              <button class="edit-button" (click)="editTransaction(transaction)">✏️</button>

              <button class="delete-button" (click)="deleteTransaction(transaction)">🗑️</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-transaction-modal
  *ngIf="isModalOpen"
  [transactionData]="editingTransaction"
  (close)="closeModal()"
  (save)="addTransaction($event)"
>
</app-transaction-modal>

<app-confirm-modal
  *ngIf="isConfirmModalOpen"
  [transactionName]="transactionToDelete?.descricao || ''"
  (close)="closeConfirmModal()"
  (confirm)="confirmDelete()"
>
</app-confirm-modal>

<app-toast [visible]="toastVisible" [message]="toastMessage" [type]="toastType"> </app-toast>
