.transactions-page {

  display: flex;
  flex-direction: column;

  gap: 28px;
}

/* TOP */

.transactions-top {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions-top h1 {

  font-size: 32px;

  color: #111827;

  font-weight: 700;
}

.transactions-top p {

  margin-top: 6px;

  color: #6b7280;
}

/* BUTTON */

.transactions-top button {

  height: 52px;

  padding: 0 22px;

  border: none;

  border-radius: 16px;

  background:
    linear-gradient(
      135deg,
      #2563eb,
      #1d4ed8
    );

  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.2s ease;

  box-shadow:
    0 10px 24px rgba(37, 99, 235, 0.25);
}

.transactions-top button:hover {

  transform: translateY(-2px);
}

/* TABLE */

.transactions-table {

  background: white;

  border-radius: 28px;

  padding: 24px;

  box-shadow:
    0 10px 30px rgba(0,0,0,0.05);

  overflow-x: auto;
}

/* TABLE */

table {

  width: 100%;

  border-collapse: collapse;
}

thead {

  border-bottom:
    1px solid #e5e7eb;
}

th {

  text-align: left;

  padding: 18px;

  color: #6b7280;

  font-size: 14px;

  font-weight: 600;
}

td {

  padding: 20px 18px;

  color: #111827;

  font-size: 14px;
}

tbody tr {

  border-bottom:
    1px solid #f3f4f6;

  transition: 0.2s ease;
}

tbody tr:hover {

  background: #f9fafb;
}

/* TYPE */

.type-badge {

  width: fit-content;

  padding: 8px 14px;

  border-radius: 999px;

  display: flex;
  align-items: center;

  gap: 8px;

  font-size: 13px;

  font-weight: 600;

  text-transform: capitalize;
}

.type-badge.entrada {

  background:
    rgba(22,163,74,0.12);

  color: #16a34a;
}

.type-badge.saida {

  background:
    rgba(220,38,38,0.12);

  color: #dc2626;
}

/* VALUE */

.transaction-value {

  font-weight: 700;
}

.transaction-value.entrada {
  color: #16a34a;
}

.transaction-value.saida {
  color: #dc2626;
}

/* STATUS */

.status-badge {

  padding: 8px 14px;

  border-radius: 999px;

  font-size: 13px;

  font-weight: 600;
}

.status-badge.concluído {

  background:
    rgba(22,163,74,0.12);

  color: #16a34a;
}

.status-badge.pendente {

  background:
    rgba(245,158,11,0.12);

  color: #f59e0b;
}
