<div class="transactions-container">
  <div class="transactions-header">
    <div>
      <h2>Transações Recentes</h2>

      <p>Últimas movimentações financeiras</p>
    </div>
  </div>

  <div class="transactions-list">
    <div class="transaction-item" *ngFor="let transaction of recentTransactions">
      <div class="left">
        <h3>
          {{ transaction.descricao }}
        </h3>

        <p>
          {{ transaction.categoriaNome }}
        </p>
      </div>

      <div class="right">
        <span
          [ngClass]="{
            income: getCategoryType(transaction.categoriaId) === 'entrada',
            expense: getCategoryType(transaction.categoriaId) === 'saida',
          }"
        >
          {{ transaction.valor | currency: 'BRL' : 'symbol' : '1.2-2' : 'pt-BR' }}
        </span>
      </div>
    </div>
  </div>
</div>
