<div class="transactions-container">
  <div class="transactions-header">
    <div>
      <h2>Transações Recentes</h2>

      <p>Últimas movimentações financeiras</p>
    </div>
  </div>

  <div class="transactions-list">
    <div class="recent-transactions">
      <div class="header">
        <h2>Transações Recentes</h2>
      </div>

      <div class="transaction-item" *ngFor="let transaction of recentTransactions">
        <div class="left">
          <h3>
            {{ transaction.descricao }}
          </h3>

          <p>
            {{ transaction.categoria }}
          </p>
        </div>

        <div class="right">
          <span
            [ngClass]="{
              income: transaction.tipo === 'entrada',

              expense: transaction.tipo === 'saida',
            }"
          >
            {{ transaction.valor }}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
