<div class="flow-page">
  <div class="flow-header">
    <div>
      <h1>Fluxo Financeiro</h1>
      <p>Acompanhe a evolução das receitas e despesas.</p>
    </div>

    <select>
      <option>Últimos 7 dias</option>
      <option selected>Últimos 30 dias</option>
      <option>Últimos 12 meses</option>
    </select>
  </div>

  <div class="flow-summary">
    <div class="summary-card income">
      <span>📈 Receitas</span>
      <h3>
        {{ totalIncome | currency: 'BRL' : 'symbol' : '1.2-2' }}
      </h3>
      <small>Total de entradas registradas</small>
    </div>

    <div class="summary-card expense">
      <span>📉 Despesas</span>
      <h3>
        {{ totalExpense | currency: 'BRL' : 'symbol' : '1.2-2' }}
      </h3>
      <small>Total de saídas registradas</small>
    </div>

    <div class="summary-card balance">
      <span>💰 Saldo</span>
      <h3>
        {{ totalBalance | currency: 'BRL' : 'symbol' : '1.2-2' }}
      </h3>
      <small>
        {{ totalBalance >= 0 ? 'Resultado positivo' : 'Resultado negativo' }}
      </small>
    </div>
  </div>

  <div class="flow-chart">
    <div class="chart-header">
      <h2>Evolução Financeira</h2>
      <span>Atualizado agora</span>
    </div>

    <apx-chart
      [series]="chartSeries"
      [chart]="chartDetails"
      [stroke]="chartStroke"
      [xaxis]="chartXAxis"
      [dataLabels]="chartDataLabels"
      [legend]="chartLegend"
      [grid]="chartGrid"
      [colors]="chartColors"
    >
    </apx-chart>
  </div>

  <div class="flow-bottom ">
    <div class="category-section">
      <div class="category-grid">
        <div class="category-card" *ngFor="let category of topCategories">

          <h3>{{ category.name }}</h3>

          <strong>
            {{ category.value | currency: 'BRL' : 'symbol' : '1.2-2' }}
          </strong>
        </div>
      </div>

      <div class="view-all-container">
        <button class="view-all-btn" (click)="openCategoriesModal()">
          Ver todas as categorias
        </button>
      </div>
    </div>
  </div>
</div>

<app-categories-modal
  *ngIf="categoriesModalOpen"
  [categories]="allCategories"
  (close)="closeCategoriesModal()"
>
</app-categories-modal>
